<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js"></script>

<body>
  <div class="my-div">
    This is home ejs
  </div>
</body>

<%- include('includes/footer') %>