html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body{
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.table{
  background-color: white;
}

.table td{
  padding: 4px;
  vertical-align: middle;
}
.navbar-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item{
  margin-right: 24px;
  font-size: 18px;
}
/* .navbar-nav{
  width: 100%;
  margin: auto;
} */

.nav-item-logout{
  text-align: end;
}