html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.navbar-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item{
  margin-right: 24px;
  font-size: 18px;
}
/* .navbar-nav{
  width: 100%;
  margin: auto;
} */

.nav-item-logout{
  text-align: end;
}