.title-frame{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-title{
  text-align: end;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 55%;
}

.create-btn{
  margin-left: auto;
}